// 1. Import Bootstrap functions and variables first (required for customization)
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Override Bootstrap variables here
$primary: #0a5dca;
$secondary: #a9a9a9;
$success: #0b6f0b;
$info: #b0c4de;
$warning: #bdb76b;
$danger: #b22222;
$light: #ededed;
$dark: #003057;
$muted: #888888;

$enable-shadows: true; 

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "muted":      $muted
);


// Import the rest of Bootstrap to apply your changes
@import "bootstrap/scss/bootstrap";
