@use 'variables' as *;
// global custom style, after bootstrap overrides

html,
body {
    background-color: $info;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $light;
    margin: 0;
    padding: 0;
}